In [1]:
# Import Dependencies
import pandas as pd
import numpy as np

# Create file path
file_path = "Resources/purchase_data.csv"

# Read the file
purchase_data = pd.read_csv(file_path)

# Player Count

In [2]:
# Calculate the total number of unique players
total_players = len(purchase_data["SN"].unique())

# Display the total number of players
pd.DataFrame({"Total Players": total_players}, index = [0])

   Total Players
0            576

# Purchasing Analysis (Total)

In [3]:
# Calculate the total number of unique items
total_unique_items = len(purchase_data["Item Name"].unique())

# Calculate the average price
average_price = purchase_data["Price"].mean()

# Calculate the total number of transactions
total_purchases = purchase_data["Purchase ID"].count()

# Calculate the total revenue
total_revenue = purchase_data["Price"].sum()

# Place all of the data into a summary DataFrame
summary_df = pd.DataFrame({
                            "Number of Unique Items": total_unique_items,
                            "Average Price": average_price,
                            "Number of Purchases": total_purchases,
                            "Total Revenue": total_revenue
    
            }, index = [0])

# Data Formatting
summary_df["Average Price"] = summary_df["Average Price"].map("${:,.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:,.2f}".format)

# Display the dataframe
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

# Gender Demographics

In [4]:
# Group dataframe by gender
genders_group = purchase_data.groupby("Gender")

# Calculate the total for each gender
gender_counts = genders_group.nunique()["SN"]

# Calculate the percentage for each gender
gender_percentage = gender_counts / total_players * 100

# Place data into dataframe
gender_demographics = pd.DataFrame({
                                    "Total Count": gender_counts,
                                    "Percentage of Players": gender_percentage
})

# Data Formatting
gender_demographics["Percentage of Players"] = gender_demographics["Percentage of Players"].map("{:,.2f}%".format)

# Display gender_demographics Data frame
gender_demographics.sort_values(["Total Count"], ascending = False)

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

# Purchasing Analysis (Gender)

In [5]:
# Calculate Purchase Count by gender
purchase_count = genders_group["Gender"].count()

# Calculate Average Purchase Price by gender
avg_purchase_price = genders_group["Price"].mean()

# Calculate Purchase Total by gender
purchase_total = genders_group["Price"].sum()

# Calculate Average Purchase Total per person by gender
avg_purchase_total = purchase_total / gender_counts

# Place all the data into summary data frame
purchasing_analysis_gender = pd.DataFrame({
                                            "Purchase Count": purchase_count,
                                            "Average Purchase Price": avg_purchase_price,
                                            "Total Purchase Value": purchase_total,
                                            "Average Total Purchase": avg_purchase_total
                            })

# Format Data and display summary analysis
purchasing_analysis_gender.style.format({
                                        "Average Purchase Price":"${:,.2f}",
                                        "Total Purchase Value":"${:,.2f}",
                                        "Average Total Purchase":"${:,.2f}"
})

# Age Demographics

In [6]:
# Establish bins for ages and group labels
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Categorize the existing players using the age bins. Hint: use pd.cut()
purchase_data["Age Groups"] = pd.cut(purchase_data["Age"], age_bins, labels = group_labels)

# Group data by Age
group_age = purchase_data.groupby("Age Groups")

# Calulate the total number by age group
total_count_by_agegroup = group_age["SN"].nunique()

# Calculate percentage by age group
percentage_by_agegroup = total_count_by_agegroup / total_players * 100

# Create a summary data frame to hold the results
age_demographics = pd.DataFrame({
                                "Percentage of Players": percentage_by_agegroup,
                                "Total Count": total_count_by_agegroup
})
# Optional: round the percentage column to two decimal points
# Display Age Demographics Table
age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

# Purchasing Analysis (Age)

In [8]:
# Calculate Purchase Count by Age
purchase_count_age = group_age["Gender"].count()

# Calculate Avg. Purchase Price Total by Age
avg_purchase_price_age = group_age["Price"].mean()

# Calculate Total Purchase Value by Age
total_purchase_value_age = group_age["Price"].sum()

# Calculate Avg. Purchase Total per Person by Age
avg_purchase_total_age = total_purchase_value_age / total_count_by_agegroup

# Create a summary data frame to hold the results
purchasing_analysis_age = pd.DataFrame({
                            "Purchase Count": purchase_count_age,
                            "Average Purchase Price": avg_purchase_price_age,
                            "Total Purchase Value": total_purchase_value_age,
                            "Average Purchase Total per Person": avg_purchase_total_age
})

# Optional: give the displayed data cleaner formatting and Display results
purchasing_analysis_age.style.format({"Average Purchase Price":"${:,.2f}",
                                      "Total Purchase Value": "${:,.2f}",
                                      "Average Purchase Total per Person": "${:,.2f}"
                                     })

# Top Spenders

In [9]:
# Group dataframe by SN
grouped_sn = purchase_data.groupby("SN")

# Calculate Total Purchase count per SN
purchase_count_sn = grouped_sn["Purchase ID"].count()

# Calculate Avg. Purchase price by SN
avg_purchase_sn = grouped_sn["Price"].mean()

# Calculate Total Purchase value by SN
purchase_value_sn = grouped_sn["Price"].sum()

# Place the values in a summary DataFrame
top_spenders = pd.DataFrame({
                            "Purchase Count": purchase_count_sn,
                            "Average Purchase Price": avg_purchase_sn,
                            "Total Purchase Value": purchase_value_sn
})

#Sort the total purchase value column in descending order
top_spenders_desc = top_spenders.sort_values(["Total Purchase Value"], ascending = False).head()

#Optional: give the displayed data cleaner formatting and Display a preview of the summary data frame
top_spenders_desc.style.format({"Average Purchase Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

# Most Popular Items

In [10]:
# Retrieve the Item ID, Item Name, and Item Price columns
items = purchase_data[["Item ID", "Item Name", "Price"]]

# Group by Item ID and Item Name. 
group_items = items.groupby(["Item ID","Item Name"])

# Calculate Purchase Count
purchase_count_item = group_items["Item ID"].count()

# Calculate Average Item Price
avg_item_price = group_items["Price"].mean()

# Calculate Total Purchase Value
total_purchase_value_item = group_items["Price"].sum()

# Calculate Individual Item price
item_price = total_purchase_value_item / purchase_count_item

# Create a summary data frame to hold the results
most_popular_items = pd.DataFrame({
                                    "Purchase Count": purchase_count_item,
                                    "Item Price": item_price,
                                    "Total Purchase Value": total_purchase_value_item
})

# Sort the purchase count column in descending order
most_popular_items_desc = most_popular_items.sort_values(["Purchase Count"], ascending = False).head()

# Optional: give the displayed data cleaner formatting and # Display a preview of the summary data frame
most_popular_items_desc.style.format({"Item Price": "${:,.2f}", "Total Purchase Value": "${:,.2f}"})